.news{
	&__list{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		@include media("<phone"){
			margin: 0 -10px;
		}
	}
	&__item{
		width: 33.333%;
		padding: 0 15px;
		margin-bottom: 40px;
		@include media("<tablet"){
			width: 50%;
		}
		@include media("<phone"){
			width: 100%;
			padding: 0;
		}
	}
	&__box-img{
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 88%;
		margin-bottom: 24px;
	}
	&__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
	}
	&__content{
		padding: 0 30px;
		flex: 0 1 100%;
		justify-content: space-between;
		display: flex;
		flex-direction: column;
		@include media("<tablet"){
			padding: 0 10px;
		}
	}
	&__list-title{
		display: block;
		font-size: 18px;
		line-height: 25px;
		font-weight: bold;
		text-align: left;
		margin:0 0 24px;
	}
	&__paragraph{
		font-size: 14px;
		line-height: 23px;
		margin-bottom: 30px;
		flex:0 1 100%;
		&-desct{
			font-size: 18px;
			line-height: 32px;
			@include media("<phone"){
				font-size: 14px;
				line-height: 25px;
				margin-bottom: 15px;
			}
		}
		@include media("<phone"){
			font-size: 12px;
			line-height: 20px;
			margin-bottom: 20px;
		}
	}
	&__more{
		display: block;
		font-size: 12px;
		line-height: 20px;
		font-weight: bold;
		margin-bottom: 30px;
		transition: all .3s;
	}
	&__list-link{
		display: flex;
		flex-direction: column;
		transition: all .3s;
		height: 100%;
		&:hover{
			background: #fff;
			box-shadow: 0px 0px 40px rgba(94, 93, 93, 0.1);
			.news__more{
				color: $orange;
				text-decoration: underline;
			}
		}
	}
	&__img-block{
		display: block;
		margin-bottom: 60px;
		@include media("<phone"){
			margin: 0 -10px 30px;
		}
	}
	&__images{
		display: block;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}
	&__text-desct-block{
		display: block;
		margin-bottom: 50px;
	}
}
.social{
	text-align: center;
	&__list{
		margin: 0 ;
		padding: 0;
		list-style: none;
		display: inline-block;
		text-align: center;
	}
	&__item{
		display: inline-block;
		margin-right: 28px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__link{
		display: block;
		width: 35px;
		transition: all .25s;
		svg{
			display: block;
			width: 100%;
			fill: #212121;
			transition: all .25s;
			max-width: 36px;
			max-height: 36px;
		}
		&_inst{
			svg{
				stroke: #212121;
				stroke-width: .5;
			}
		}
		&:hover{
			svg{
				fill: $orange;
				stroke: $orange;
				stroke-width: 1;
				-webkit-transform: scale(1.2);
			    transform: scale(1.2);
			    transition: background .25s,fill .25s,-webkit-transform .25s ease-out;
			    transition: background .25s,transform .25s ease-out,fill .25s;
			    transition: background .25s,transform .25s ease-out,fill .25s,-webkit-transform .25s ease-out;
			}
		}
	}
}
.datasheets{
	&__list{
		margin: 0 0 30px;
		padding: 0;
		list-style: none;
	}
	&__item{
		border: 1px solid $mercury;
		border-top:0;
		padding: 20px 10px;
		&:first-child{
			border-top: 1px solid $mercury;
		}
	}
	&__content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media("<phone"){
			flex-direction: column;
		}
	}
	&__descr{
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 0.05px;
		font-weight: bold;
		@include media("<phone"){
			margin-bottom: 16px;
		}
	}
	&__link{
		display: inline-block;
		vertical-align: top;
		margin-left: 15px;
		min-width: 90px;
		text-align: center;
		padding: 6px 3px;
		border: 1px solid $orange;
		color: $orange;
		border-radius: 5px;
		font-size: 12px;
		line-height: 16px;
		font-weight: bold;
		transition: all .3s;
		&:hover{
			transform: translate(2px, -2px);
			box-shadow: -4px 5px 8px 1px rgba(169, 169, 169, 0.75);
			color: $orange;
		}
		&_orange{
			background: $orange;
			color: #fff;
			&:hover{
				color: #fff;
			}
		}
	}
}

.faq{
	.accordeon{
		dl{
			margin: 0;
			background-color: #fff;
		}
		dl + dl{
			margin-top: 10px;
		}
		dt{
			position: relative;
			border: 1px solid #e5e5e5;
			padding: 9px 55px 9px 15px;
			margin: 0;
			cursor: pointer;
		}
		dt:after{
			content: "";
			position: absolute;
			top: 50%;
			right: 18px;
			transform: translate(0, -50%) rotate(0.01deg);
			width: 14px;
			height: 7px;
			background: url(#{$images}ico-accordeon-arrow-down.svg) no-repeat;
			-webkit-background-size: 100% auto;
			background-size: 100% auto;
			-webkit-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
		}
		dt.active:after{
			transform: translate(0, -50%) rotate3d(1, 0, 0, 180deg);
		}
		dt span{
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			line-height: 32px;
			font-weight: 400;
			text-transform: uppercase;
		}
		dt .ico{
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
			line-height: 0;
			text-align: center;
			width: 32px;
			height: 32px;
			margin: 0 8px 0 0;
		}
		dd{
			position: relative;
			margin: -1px 0 0;
			border: 1px solid #e5e5e5;
			padding: 24px 24px;
			font-size: 14px;
			line-height: 25px;
			color: $blackcurrant;
			font-weight: 300;
			font-style: normal;
			@include media("<phone"){
				font-size: 12px;
				line-height: 20px;
			}
		}
		dd p{
			margin: 0 0 30px;
		}
		dd p:last-child{
			margin: 0;
		}
		dd .content{}
	}
}
.prosucts{
	.tabs-caption{
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		line-height: 0;
		text-align: center;
	}
	.tabs-caption li{
		position: relative;
		display: inline-block;
		vertical-align: top;
		min-width: 90px;
		font-size: 12px;
		line-height: 16px;
		font-weight: bold;
		padding: 6px 8px;
		border: 1px solid $orange;
		color: $orange;
		text-align: center;
		cursor: pointer;
		margin-right: 30px;
		border-radius: 5px;
		&:last-child{
			margin-right: -0px;
		}
		@include media("<phone"){
			margin-right: 10px;
		}
	}
	.tabs-caption li.active{
		background: $orange;
		color: #fff;
	}
	.tabs-caption li.active:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background: transparent;
	}
	.tabs-content{
		display: none;
		min-height: 100px;
		background: transparent;
	}
	.tabs-content.active{
		display: block;
		background: transparent;
	}
}
.products{
	&__list{
		margin: 0 -25px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		padding-top: 60px;
	}
	&__item{
		width: 25%;
		padding: 0 25px;
		margin-bottom: 30px;
		@include media("<tablet"){
			width: 50%;
		}
		@include media("<phone"){
			width: 100%;
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__title{
		display: block;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 16px;
	}
	&__series{
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 12px;
	}
	&__link{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #212121;
			transition: width .3s ease-in-out;
		}
		&:hover{
			&:before{
				width: 0;
			}
		}
	}
}
.about{
	&__paragraph{
		display: block;
		font-size: 18px;
		line-height: 32px;
		text-align: center;
		max-width: 790px;
		margin:0 auto;
		margin-bottom: 85px;
		@include media("<phone"){
			font-size: 14px;
			line-height: 21px;
			bottom: 60px;
		}
	}
	&__map-img-block{
		background: url(#{$images}about-img-block.jpg) 50% 50% no-repeat;
		background-size: cover;
		display: block;
		height: 555px;
	}
}
.facts{
	background: $alabaster;
	padding: 90px 0;
	margin-bottom: 81px;
	@include media("<phone"){
		padding: 60px 0;
	}
	&__title{
		margin: 0 0 49px;
	}
	&__list{
		margin: 0 -25px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		@include media("<phone"){
			margin: 0;
		}
	}
	&__item{
		width: 25%;
		padding: 0 15px;
		display: flex;
		justify-content: center;
		@include media("<phone"){
			width: 100%;
			padding: 0;
			margin-bottom: 40px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__content{
		padding-top: 80px;
		position: relative;
		font-size: 18px;
		line-height: 25px;
		font-weight: bold;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			background: url(#{$images}facts-ico.svg) no-repeat;
			background-size: 100% auto;
			width: 60px;
			height: 60px;
		}
	}
}
.services{
	&__list{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		@include media("<phone"){
			margin: 0 -10px;
		}
	}
	&__item{
		width: 33.333%;
		padding: 0 15px;
		@include media("<tablet"){
			width: 50%;
		}
		@include media("<phone"){
			width: 100%;
			padding: 0;
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
		 transition: all .3s;
		&:hover{
			background: #fff;
			box-shadow: 0px 0px 40px rgba(94, 93, 93, 0.1);
		}
	}
	&__img-box{
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 88%;
		margin-bottom: 24px;
		@include media("<phone"){
			
		}
	}
	&__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
	}
	&__text{
		padding: 0 30px 40px;
		@include media("<phone"){
			padding: 0 15px 40px;
		}
	}
	&__title{
		display: block;
		font-size: 18px;
		line-height: 25px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 25px;
	}
	&__paragraph{
		font-size: 14px;
		line-height: 23px;
		text-align: center;
	}
}
.title{
	&__box-img{
		display: block;
		margin-bottom:50px;
		@include media("<phone"){
			margin-bottom: 36px;
		}
	}
	&__images{
		display: block;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}
}
.filter{
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
		max-width: 255px;
		margin-right: 30px;
		@include media("<tablet"){
			margin-right: 15px;
			max-width: 220px;
		}
		@include media("<phone"){
			max-width: 300px;
			margin-bottom: 40px;
		}
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		min-width: 255px;
		+ .filter__item{
			margin-top: -1px;
		}
		@include media("<tablet"){
			min-width: 170px;
		}
		@include media("<phone"){
			min-width: 100%;
		}
	}
	&__link{
		display: block;
		padding: 27px 5px;
		text-align: center;
		transition: all .3s;
		border: 1px solid #E9E9E9;
		&:hover{
			background: $orange;
			border-color: $orange;
			.filter__descr{
				color: #fff;
			}
		}
	}
	&__descr{
		font-size: 18px;
		line-height: 25px;
		font-weight: bold;
		color: #5a5a5a;
		 transition: all .3s;
	}
}
.components{
	&__flex-container{
		display: flex;
		align-items: flex-start;
		@include media("<phone"){
			flex-direction: column;
			align-items: center;
		}

	}
	&__items{
		width: 100%;
	}
	&__list{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}
	&__item{
		width: 33.333%;
		padding: 0 15px;
		margin-bottom: 30px;
		@include media("<phone"){
			width: 50%;
		}
		@include media("<550px"){
			width: 100%;
		}
	}
	&__link{
		display: flex;
		flex-direction: column;
		 transition: all .3s;
		&:hover{
			background: #fff;
			box-shadow: 0px 0px 40px rgba(94, 93, 93, 0.1);
		}
	}
	&__box-img{
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 100%;
	}
	&__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
	}
	&__descr{
		background: #fff;
		display: block;
		text-align: center;
		padding: 20px;
		font-size: 18px;
		line-height: 25px;
		font-weight: bold;
	}
}
.catalogue{
	&__list{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		@include media("<550px"){
			margin: 0;
		}
	}
	&__item{
		width: 25%;
		padding: 0 15px;
		@include media("<phone"){
			width: 50%;
		}
		@include media("<550px"){
			width: 100%;
			padding: 0;
		}
	}
	&__link{
		display: block;
		&:hover{
			background: #fff;
			box-shadow: 0px 0px 40px rgba(94, 93, 93, 0.1);
		}
	}
	&__box-img{
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 86%;
	}
	&__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
	}
	&__descr{
		display: block;
		font-size: 18px;
		line-height: 25px;
		font-weight: bold;
		text-align: center;
		padding: 15px 5px;
	}
}
.result{
	.search{
		display: block;
		margin-bottom: 80px;
		@include media("<phone"){
			margin-bottom: 40px;
		}
		.form_line{
			max-width: 444px;
			margin: 0 0 0 auto;
			@include media("<phone"){
				max-width: 100%;
			}
			.form__control{
				border: 1px solid #E9E9E9;
				border-right: 0;
				&:focus{
					border-right: 0;
					border-color: $orange;
				}
			}
		}
	}
	.search a{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	.search .ico{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 13px;
	}
	.search.open .ico{
		display: none;
	}
	.search .ico img{
		display: block;
		max-width: 100%;
	}
	.search.type2{
		display: block;
		margin: 0 0 10px;
		width: auto;
		height: auto;
	}
	.search a{
		display: none;
	}
	.accordeon{
		border-bottom: 1px solid #e5e5e5;
		.title{
			font-size: 18px;
			line-height: 25px;
			@include media("<phone"){
				font-size: 12px;
				line-height: 16px;
			}
		}
		.box-link{
			display: flex;
		}
		.download{
			display: block;
			max-width: 20px;
			max-height: 25px;
			@include media("<phone"){
				max-width: 9px;
				max-height: 12px;
			}
			svg{
				display: block;
				fill: #cecece;
				transition: all .3s;
				@include media("<phone"){
					max-width: 9px;
					max-height: 12px;
					margin: 2px 0 0;
				}
			}
			&:hover{
				svg{
					fill: $orange;
				}
			}
		}
		.descr{
			display: flex;
			align-items: center;
		}
		.link-info{
			display: none;
			@include media("<phone"){
				display: block;
				margin-left: 10px;
			}
		}
		.info{
			display: block;
			background: url(../images/info.svg) 50% 50% no-repeat;
			background-size: 100% auto;
			width: 12px;
			height: 12px;
		}
		.details{
			font-size: 14px;
			line-height: 19px;
			font-weight: bold;
			text-decoration: underline;
			margin-left: 90px;
			transition: all .3s;
			@include media("<phone"){
				margin-left: 20px;
				font-size: 10px;
				line-height: 14px;
			}
		}
		dl{
			margin: 0;
			background-color: #fff;
		}
		dt{
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			border: 1px solid #e5e5e5;
			padding: 23px 65px 23px 24px;
			margin: 0;
			cursor: pointer;
			border-bottom: 0;
			@include media("<phone"){
				padding: 9px 16px;
			}
		}
		dt.active{
			.details{
				color: $orange;
			}
		}
		dt span{
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			line-height: 32px;
			font-weight: 400;
			text-transform: uppercase;
		}
		dt .ico{
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
			line-height: 0;
			text-align: center;
			width: 32px;
			height: 32px;
			margin: 0 8px 0 0;
		}
		dd{
			position: relative;
			margin: -1px 0 0;
			border: 1px solid #e5e5e5;
			border-top: 0;
			border-bottom: 0;
			padding: 10px 65px 40px;
			font-size: 14px;
			line-height: 25px;
			color: $blackcurrant;
			font-weight: 300;
			font-style: normal;
			@include media("<phone"){
				padding: 10px 30px;

			}
		}
		dd p{
			margin: 0 0 30px;
		}
		dd p:last-child{
			margin: 0;
		}
		dd .content{
			&__list{
				margin: 0 0 40px;
				padding: 0;
				list-style: none;
				column-count: 2;
				@include media("<phone"){
					column-count: 1;
					margin: 0 0 20px;
				}
			}
			&__item{
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-bottom: 15px;
			}
			&__descr{
				font-size: 18px;
				line-height: 25px;
				color: $scorpion;
				@include media("<phone"){
					font-size: 10px;
					line-height: 14px;
				}
			}
			&__sense{
				min-width: 70px;
				text-align: right;
				color: $scorpion;
				font-size: 18px;
				line-height: 25px;
				@include media("<phone"){
					font-size: 10px;
					line-height: 14px;
				}
			}
			&__paragraph{
				max-width: 320px;
				font-size: 10px;
				line-height: 17px;
				@include media("<phone"){
					line-height: 14px;
					margin-bottom: 15px;
					max-width: 100%;
				}
			}
			.close{
				display: none;
				background: url(../images/close.svg) 50% 35% no-repeat;
				background-size: 30px auto;
				padding: 25px 0;
				@include media("<phone"){
					display: block;
					background-size: 20px auto;
					padding: 15px 0;
				}
			}

		}
	}
}