.visual{
	position: relative;
	display: flex;
	align-items: center;
	height: 100vh;
	background-color: $gray;
	min-height: 800px;
	@include media("<phone"){
		min-height: 500px;
	}
	> .container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1000;
	}
	&__slider{
		position: relative;
		z-index: 2;
		height: 100%;
		width: 100%;
		&:not(.slick-initialized) {
			opacity: 0;
		}
		.slick-track, .slick-list{
			height: 100%;
		}
		&-item{
			position: relative;
			background-color: $gray;
			height: 100%;
			padding: 140px 0 40px;
			color: $white;
			font-size: 18px;
			font-weight: 400;
			line-height: 32px;
			@include media("<phone"){
				padding: 62px 0;
				font-size: 12px;
				line-height: 16px;
				text-align: center;
			}
			&:after{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				//background-color: rgba($gray, .5);
				background-image: url(#{$images}img-visual-relief.png);
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: cover;
				opacity: 1;
			}
			> .container{
				height: 100%;
				display: flex !important;
				align-items: center;
			}
		}
		&-content{
			position: relative;
			max-width: 825px;
			margin: 0;
		}
		&-title{
			font-weight: 300;
			font-size: 64px;
			line-height: 87px;
			color: $white;
			text-align: left;
			margin-bottom: 40px;
			@include media("<phone"){
				font-size: 36px;
				line-height: 48px;
				margin-bottom: 24px;
				text-align: center;
			}
		}
		&-text{
			margin-bottom: 60px;
			letter-spacing: 0.05em;
			@include media("<phone"){
				margin-bottom: 40px;
			}
		}
	}
	.slick-prev,
	.slick-next{
		position: absolute;
		top: 50%;
		display: block;
		width: 45px;
		height: 45px;
		border-radius: 0;
		padding: 0;
		transform: translate(0, -50%);
		cursor: pointer;
		color: transparent;
		border: none;
		outline: none;
		background: #fff;
		opacity: 0.8;
		transition: opacity .3s ease-in-out;
		z-index: 20;
		@include media("<tablet"){
			width: 20px;
			height: 20px;
		}
		&:hover{
			opacity: 1;
		}
	}
	.slick-prev{
		background: url(#{$images}ico-prev.svg) 50% 50% no-repeat;
		background-size: 45px auto;
		left: -115px;
	}
	.slick-next{
		background: url(#{$images}ico-next.svg) 50% 50% no-repeat;
		background-size: 45px auto;
		right: -115px;
	}
}

.why{
	padding-bottom: 132px;
	background: url(#{$images}img-why-bg.png) 0 100% no-repeat;
	background-size: auto;
	@include media("<desktop"){
		background: none;
	}
	&-list{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		&__item{
			display: block;
			flex: 1 1 250px;
			padding: 20px 15px;
			img{
				display: block;
				max-width: 100%;
				max-height: 100%;
				margin: 0 auto 35px;
			}
			h4{
				margin: 0;
				font-weight: 600;
				text-align: center;
			}
		}
	}
}
.search-block{
	padding: 36px 0;
	background-color: $gray;
	background-image: url(#{$images}img-visual-relief.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	@include media("<phone"){
		padding: 90px 0 42px;
	}
	&__row{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		@include media("<phone"){
			flex-flow: column;
			align-items: inherit;
		}
	}
	&__col{
		flex: 1 1 auto;
		@include media("<phone"){
			width: auto;
			flex: 1 1 auto;
		}
	}
	.h2{
		text-align: left;
		color: $white;
		margin-bottom: 36px;
		@include media("<phone"){
			text-align: center;
			margin-bottom: 30px;
		}
	}
	.form_search{
		min-width: 634px;
		margin-right: 98px !important;
		@include media("<tablet"){
			min-width: auto;
		}
		@include media("<phone"){
			margin-right: 0 !important;
		}
	}
	img{
		display: block;
		width: 571px;
		@include media("<tablet"){
			width: 270px;
		}
		@include media("<phone"){
			width: 201px;
			margin-top: 16px;
		}
	}
}
.our-services{
	padding-bottom: 140px;
	background: url(#{$images}img-services-bg.png) 100% 100% no-repeat;
	background-size: auto;
	@include media("<desktop"){
		background: none;
	}
	@include media("<tablet"){
		padding-bottom: 60px;
	}
	&__list{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		@include media("<tablet"){
			flex-wrap: wrap;
		}
		&-item{
			display: block;
			flex: 0 1 25%;
			padding: 0 15px 30px;
			@include media("<tablet"){
				flex: 0 1 33.33333%;
			}
			@include media("<phone"){
				flex: 0 1 50%;
			}
			@include media("<500px"){
				flex: 1 1 auto;
			}
		}
		&-img{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 150px;
			margin-bottom: 10px;
			img{
				display: block;
				max-width: 100%;
				max-height: 100%;
			}
		}
		&-holder{
			display: block;
			padding: 24px;
			transition: box-shadow .2s;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			color: #5A5A5A;
			@include media("<phone"){
				font-size: 12px;
			}
		}
	}
	.h4{
		font-weight: 600;
	}
	p{
		margin-bottom: 0;
	}
}
.documentation{
	padding-bottom: 140px;
	background: $alabaster;
	@include media("<tablet"){
		padding-bottom: 60px;
	}
	&__item{
		position: relative;
		display: block;
		border-radius: 3px;
		overflow: hidden;
		&-link{
			display: block;
			padding-top: 68%;
			transition: all .3s ease-in-out;
			&:hover{
				transform: scale(1.1);
			}
		}
		&-title{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 25px;
			background: rgba($gray, .7);
			color: $white;
			text-align: center;
			font-weight: 700;
			@include media("<phone"){
				font-size: 14px;
				padding: 14px;
			}
		}
	}
}
.latest-news{
	padding-bottom: 140px;
	@include media("<tablet"){
		padding-bottom: 60px;
	}
	&__btn{
		padding-top: 10px;
		text-align: center;
	}
}
.subscribe{
	padding: 82px 0;
	background: url(#{$images}img-subscribe-bg.jpg) 50% 50% no-repeat;
	background-size: cover;
	@include media("<tablet"){
		padding: 140px 0;
	}
	&__row{
		display: flex;
		flex-flow: row wrap;
		margin: 0 -15px;
	}
	&__col{
		width: 50%;
		padding: 0 15px;
		@include media("<phone"){
			width: auto;
			flex: 1 1 auto;
		}
	}
	.h2{
		text-align: left;
		color: $white;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin-bottom: 0;
		@include media("<phone"){
			text-align: center;
			margin-bottom: 30px;
		}
	}
	.form-group-check{
		margin-top: 16px;
	}
	.form-group-agree{
		color: $white;
	}
}

.form_line{
	position: relative;
	display: flex !important;
	flex-flow: row nowrap;
	border-radius: 3px;
	overflow: hidden;
	margin: 0 !important;
	background-color: $white;
	.form__control{
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 46px;
		padding: 5px 16px;
		color: $gray;
		font-size: 14px;
		line-height: 20px;
		font-weight: 500;
		background-color: $white;
		border: 1px solid $white;
		border-right: 0;
		border-radius: 3px 0px 0px 3px;
		@include media("<phone"){
			height: 38px;
		}
		&:focus{
			border-right: 0;
			border-color: $orange;
			outline: none;
		}
		&::-moz-placeholder{
			color: $alto;
			opacity: 1;
		}
		&:-ms-input-placeholder {color: $alto;}
		&::-webkit-input-placeholder {color: $alto;}
	}
	.btn{
		display: inline-block;
		vertical-align: top;
		border-radius: 0px 3px 3px 0px;
	}
}

.page-pagination{
	display: block;
}
.pagination-numbers{
	position: relative;
	display: block;
	padding: 0 45px;
	margin: 0 -8px;
	text-align: center;
	font-size: 0;
	line-height: 0;
	@include media("<phone"){
		padding: 0 30px;
	}
	@include media("<375px"){
		padding: 0;
	}
	&__link{
		display: block;
		font-size: 12px;
		line-height: 18px;
		color: $gray;
		font-weight: 400;
		padding: 5px;
		cursor: pointer;
		min-width: 30px;
		border-radius: 3px;
		outline: none;
		border: 1px solid rgba($gray, 0.1);
		transition: all .2s;
		@include media("<phone"){
			font-size: 12px;
			padding: 5px;
			min-width: 30px;
			line-height: 18px;
		}
		&:hover{
			color: $orange;
		}
		&.break{
			cursor: default;
			min-width: auto;
			border: none;
			&:hover{
				color: inherit;
			}
		}
	}
	&__number{
		display: inline-block;
		vertical-align: middle;
		padding: 0 8px;
		@include media("<phone"){
			padding: 0 4px;
		}
		&:first-of-type{
			height: 30px;
			.pagination-numbers__link{
				height: 100%;
				min-width: 30px;
				&:hover{
					.pagination-numbers__arrow{
						&:after{
							border-color: $orange;
						}
					}
				}
			}
			.pagination-numbers__arrow{
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					left: 60%;
					border-bottom: 1px solid transparent;
					border-right: 1px solid transparent;
					width: 8px;
					height: 8px;
					margin: 0;
					border-color: $gray;
					transform: translate(-50%, -50%) rotate(135deg);
					transition: all .2s;
					@include media("<phone"){
						border-bottom: 1px solid transparent;
						border-right: 1px solid transparent;
						width: 8px;
						height: 8px;
						border-color: $gray;
					}
				}
			}
		}
		&:last-of-type{
			height: 30px;
			.pagination-numbers__link{
				height: 100%;
				min-width: 30px;
				&:hover{
					.pagination-numbers__arrow{
						&:after{
							border-color: $orange;
						}
					}
				}
			}
			.pagination-numbers__arrow{
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					left: 40%;
					border-top: 1px solid transparent;
					border-left: 1px solid transparent;
					width: 8px;
					height: 8px;
					margin: 0;
					border-color: $gray;
					transform: translate(-50%, -50%) rotate(135deg);
					transition: all .2s;
					@include media("<phone"){
						border-top: 1px solid transparent;
						border-left: 1px solid transparent;
						width: 8px;
						height: 8px;
						border-color: $gray;
					}
				}
			}
		}
		&_current{
			.pagination-numbers__link{
				background: $white;
				color: $orange;
				border-color: $orange;
				&:hover{
					color: $orange;
				}
			}
		}
		&_active{
			.pagination-numbers__link{
				cursor: default;
				pointer-events: none;
			}
		}
		&_disabled{
			.pagination-numbers__link{
				pointer-events: none;
			}
		}
	}
	&__arrow{
		position: relative;
		display: block;
		height: 100%;
		&:after{
			border-color: $orange;
		}
	}
}

.contact{
	background: url(#{$images}img-contact-bg-01.png) 100% 10% no-repeat;
	background-size: auto;
	@include media("<desktop"){
		background: none;
	}
	background: url(#{$images}img-contact-bg-02.png) 0% 50% no-repeat;
	background-size: auto;
	@include media("<desktop"){
		background: none;
	}
	&__wrap{
		margin-bottom: 80px;
	}
	.row{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin: 0 -15px 30px;
		@include media("<phone"){
			flex-flow: column;
		}
		.col{
			flex: 1 1 22%;
			padding: 0 15px 30px;
			@include media("<tablet"){
				flex: 1 1 50%;
			}
		}
		.h3{
			margin-bottom: 60px;
			@include media("<phone"){
				margin-bottom: 30px;
			}
		}
	}
	.footer-links{
		&__item{
			margin-bottom: 24px;
			font-weight: 400;
			font-size: 18px;
			line-height: 25px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__link{
			&_contact{
				padding-left: 44px;
			}
			&-ico{
				width: 20px;
				min-width: 20px;
				&.phone{
					top: 2px;
					img{
						width: auto;
						min-width: 18px;
						max-width: 18px;
					}
				}
				&.address{
					top: 3px;
					img{
						width: auto;
						min-width: 14px;
						max-width: 14px;
					}
				}
				&.email{
					top: 4px;
					img{
						width: auto;
						min-width: 20px;
						max-width: 20px;
					}
				}
			}
		}
	}
	&__form{
		margin: 90px 0 0;
		padding: 60px 0;
		background: #FBFBFB;
	}
	.social__link{
		svg.facebook{
			path{
				fill: #475993;
				transition: all .2s ease;
			}
		}
		svg.twitter{
			path{
				fill: #55ACEE;
				transition: all .2s ease;
			}
		}
		svg.youtube{
			path{
				fill: #D22215;
				transition: all .2s ease;
			}
		}
		&:hover{
			svg.facebook{
				path{
					fill: darken(#475993,10%);
				}
			}
			svg.twitter{
				path{
					fill: darken(#55ACEE,10%);
				}
			}
			svg.youtube{
				path{
					fill: darken(#D22215,10%);
				}
			}
		}
	}
}
.map{
	display: block;
	width: 100%;
	height: 550px;
	margin: 0;
	padding: 0;
	border: 0;
	@include media("<phone"){
		height: 300px;
	}
}

.news{
	background: url(#{$images}news-bg.png) 0 10% no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&_desct{
		background: url(#{$images}news-desct-bg.png) 0 40% no-repeat;
		@include media("<desktop"){
			background: none;
		}
	}
	&__list{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		@include media("<phone"){
			margin: 0 -10px;
		}
	}
	&__item{
		width: 33.333%;
		padding: 0 15px;
		margin-bottom: 40px;
		@include media("<tablet"){
			width: 50%;
		}
		@include media("<phone"){
			width: 100%;
			padding: 0;
		}
	}
	&__box-img{
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 88%;
		margin-bottom: 24px;
	}
	&__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
	}
	&__content{
		padding: 0 30px;
		flex: 1 1 auto;
		justify-content: space-between;
		display: flex;
		flex-direction: column;
		@include media("<tablet"){
			padding: 0 10px;
		}
	}
	&__list-title{
		display: block;
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
		text-align: left;
		margin:0 0 24px;
	}
	&__paragraph{
		font-size: 14px;
		line-height: 23px;
		margin-bottom: 30px;
		flex: 0 1 100%;
		@include media("<phone"){
			font-size: 14px;
			line-height: 22px;
			margin-bottom: 20px;
		}
		&-desct{
			font-size: 18px;
			line-height: 32px;
			@include media("<phone"){
				font-size: 14px;
				line-height: 25px;
				margin-bottom: 15px;
			}
		}
	}
	&__more{
		display: block;
		font-size: 12px;
		line-height: 20px;
		font-weight: 700;
		margin-bottom: 30px;
		transition: all .3s;
	}
	&__list-link{
		display: flex;
		flex-direction: column;
		transition: all .3s;
		height: 100%;
		&:hover{
			background: $white;
			box-shadow: 0px 0px 40px rgba(94, 93, 93, 0.1);
			.news__more{
				color: $orange;
				text-decoration: underline;
			}
		}
	}
	&__img-block{
		display: block;
		margin-bottom: 60px;
		@include media("<phone"){
			margin: 0 -10px 30px;
		}
	}
	&__images{
		display: block;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}
	&__text-desct-block{
		display: block;
		margin-bottom: 50px;
	}
}
.social{
	text-align: center;
	&__list{
		margin: 0 ;
		padding: 0;
		list-style: none;
		display: inline-block;
		text-align: center;
	}
	&__item{
		display: inline-block;
		margin-right: 28px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__link{
		display: block;
		width: 35px;
		transition: all .25s;
		svg{
			display: block;
			width: 100%;
			fill: $gray;
			transition: all .25s;
			max-width: 36px;
			max-height: 36px;
		}
		&_inst{
			svg{
				stroke: $gray;
				stroke-width: .5;
			}
		}
		&:hover{
			svg{
				fill: $orange;
				stroke: $orange;
				stroke-width: 1;
				-webkit-transform: scale(1.2);
				transform: scale(1.2);
				transition: background .25s,fill .25s,-webkit-transform .25s ease-out;
				transition: background .25s,transform .25s ease-out,fill .25s;
				transition: background .25s,transform .25s ease-out,fill .25s,-webkit-transform .25s ease-out;
			}
		}
	}
}
.datasheets{
	background: url(#{$images}datasheets-bg.png) 100% 40% no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&__list{
		margin: 0 0 30px;
		padding: 0;
		list-style: none;
	}
	&__item{
		border: 1px solid $mercury;
		border-top:0;
		padding: 20px 10px;
		&:first-child{
			border-top: 1px solid $mercury;
		}
	}
	&__content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media("<phone"){
			flex-direction: column;
		}
	}
	&__descr{
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 0.05px;
		font-weight: 700;
		@include media("<phone"){
			margin-bottom: 16px;
		}
	}
	&__link{
		display: inline-block;
		vertical-align: top;
		margin-left: 15px;
		min-width: 90px;
		text-align: center;
		padding: 6px 3px;
		border: 1px solid $orange;
		color: $orange;
		border-radius: 5px;
		font-size: 12px;
		line-height: 16px;
		font-weight: 700;
		transition: all .3s;
		&:hover{
			transform: translate(2px, -2px);
			box-shadow: -4px 5px 8px 1px rgba(169, 169, 169, 0.75);
			color: $orange;
		}
		&_orange{
			background: $orange;
			color: $white;
			&:hover{
				color: $white;
			}
		}
	}
}
.faq{
	background: url(#{$images}faq-bg.png) 100% 30% no-repeat;
	@include media("<desktop"){
		background: none;
	}
	.accordeon{
		dl{
			margin: 0;
			background-color: $white;
		}
		dl + dl{
			margin-top: 30px;
			@include media("<phone"){
				margin-top: 16px;
			}
		}
		dt{
			position: relative;
			border: 1px solid #e5e5e5;
			padding: 16px 55px 16px 24px;
			margin: 0;
			cursor: pointer;
			@include media("<phone"){
				padding: 7px 55px 7px 14px;
			}
		}
		dt:after{
			content: "";
			position: absolute;
			top: 50%;
			right: 18px;
			transform: translate(0, -50%) rotate(0.01deg);
			width: 14px;
			height: 8px;
			background: url(#{$images}ico-accordeon-arrow-down.svg) no-repeat;
			background-size: 100% auto;
			transition: all 0.5s;
			@include media("<phone"){
				right: 14px;
			}
		}
		dt.active:after{
			transform: translate(0, -50%) rotate3d(1, 0, 0, 180deg);
		}
		dt span{
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			line-height: 32px;
			font-weight: 400;
			text-transform: uppercase;
		}
		dt .ico{
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
			line-height: 0;
			text-align: center;
			width: 32px;
			height: 32px;
			margin: 0 8px 0 0;
		}
		dt strong{
			font-weight: 400;
		}
		dd{
			position: relative;
			margin: -1px 0 0;
			border: 1px solid #e5e5e5;
			padding: 24px 24px;
			font-size: 14px;
			line-height: 25px;
			color: $blackcurrant;
			font-weight: 300;
			font-style: normal;
			@include media("<phone"){
				font-size: 12px;
				line-height: 20px;
				padding: 24px 14px;
			}
		}
		dd p{
			margin: 0 0 30px;
			@include media("<phone"){
				margin: 0 0 16px;
			}
		}
		dd p:last-child{
			margin: 0;
		}
		dd .content{}
	}
}
.products{
	.tabs-caption{
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		line-height: 0;
		text-align: center;
	}
	.tabs-caption li{
		position: relative;
		display: inline-block;
		vertical-align: top;
		min-width: 90px;
		font-size: 12px;
		line-height: 16px;
		font-weight: 700;
		padding: 6px 8px;
		border: 1px solid $orange;
		color: $orange;
		text-align: center;
		cursor: pointer;
		margin-right: 30px;
		border-radius: 5px;
		&:last-child{
			margin-right: -0px;
		}
		@include media("<phone"){
			margin-right: 10px;
		}
	}
	.tabs-caption li.active{
		background: $orange;
		color: $white;
	}
	.tabs-caption li.active:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background: transparent;
	}
	.tabs-content{
		display: none;
		min-height: 100px;
		background: transparent;
	}
	.tabs-content.active{
		display: block;
		background: transparent;
	}
}
.products{
	background: url(#{$images}product-bg.png) 0 120px no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&__list{
		margin: 0 -25px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		padding-top: 60px;
	}
	&__item{
		width: 25%;
		padding: 0 25px;
		margin-bottom: 30px;
		@include media("<tablet"){
			width: 50%;
		}
		@include media("<phone"){
			width: 100%;
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__title{
		display: block;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 16px;
	}
	&__series{
		display: block;
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 12px;
	}
	&__link{
		position: relative;
		display: inline-block;
		vertical-align: top;
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $gray;
			transition: width .3s ease-in-out;
		}
		&:hover{
			&:before{
				width: 0;
			}
		}
	}
}
.about{
	background: url(#{$images}about-bg.png) 100% 20% no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&__paragraph{
		display: block;
		font-size: 18px;
		line-height: 32px;
		text-align: center;
		max-width: 790px;
		margin:0 auto;
		margin-bottom: 85px;
		@include media("<phone"){
			font-size: 14px;
			line-height: 21px;
			bottom: 60px;
		}
	}
	&__map-img-block{
		display: block;
		padding-top: 50%;
		@include media("<phone"){
			padding-top: 68%;
		}
	}
}
.facts{
	background: $alabaster;
	padding: 90px 0;
	margin-bottom: 81px;
	@include media("<phone"){
		padding: 60px 0;
	}
	&__title{
		margin: 0 0 49px;
	}
	&__list{
		margin: 0 -25px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		@include media("<phone"){
			margin: 0;
		}
	}
	&__item{
		width: 25%;
		padding: 0 15px;
		display: flex;
		justify-content: center;
		@include media("<phone"){
			width: 100%;
			padding: 0;
			margin-bottom: 40px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__content{
		padding-top: 80px;
		position: relative;
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			background: url(#{$images}facts-ico.svg) no-repeat;
			background-size: 100% auto;
			width: 60px;
			height: 60px;
		}
	}
}
.services{
	background: url(#{$images}service-bg.png) 0 10% no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&__list{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		@include media("<phone"){
			margin: 0 -10px;
		}
	}
	&__item{
		width: 33.333%;
		padding: 0 15px;
		@include media("<tablet"){
			width: 50%;
		}
		@include media("<phone"){
			width: 100%;
			padding: 0;
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
		 transition: all .3s;
		&:hover{
			background: $white;
			box-shadow: 0px 0px 40px rgba(94, 93, 93, 0.1);
		}
	}
	&__img-box{
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 88%;
		margin-bottom: 24px;
		@include media("<phone"){
			
		}
	}
	&__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
	}
	&__text{
		padding: 0 30px 40px;
		@include media("<phone"){
			padding: 0 15px 40px;
		}
	}
	&__title{
		display: block;
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 25px;
	}
	&__paragraph{
		font-size: 14px;
		line-height: 23px;
		text-align: center;
	}
}
.title{
	background: url(#{$images}title-bg.png) 0 60% no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&__box-img{
		display: block;
		margin-bottom:50px;
		@include media("<phone"){
			margin-bottom: 36px;
		}
	}
	&__images{
		display: block;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}
}
.filter{
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
		max-width: 255px;
		margin-right: 30px;
		@include media("<tablet"){
			margin-right: 15px;
			max-width: 220px;
		}
		@include media("<phone"){
			max-width: 300px;
			margin-bottom: 40px;
		}
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		min-width: 255px;
		+ .filter__item{
			margin-top: -1px;
		}
		@include media("<tablet"){
			min-width: 170px;
		}
		@include media("<phone"){
			min-width: 100%;
		}
	}
	&__link{
		display: block;
		padding: 27px 5px;
		text-align: center;
		transition: all .3s;
		border: 1px solid $mercury;
		&:hover{
			background: $orange;
			border-color: $orange;
			.filter__descr{
				color: $white;
			}
		}
	}
	&__descr{
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
		color: $scorpion;
		transition: all .3s;
	}
}
.components{
	background: url(#{$images}components-bg.png) 0 60% no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&__flex-container{
		display: flex;
		align-items: flex-start;
		@include media("<phone"){
			flex-direction: column;
			align-items: center;
		}
	}
	&__items{
		width: 100%;
	}
	&__list{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}
	&__item{
		width: 33.333%;
		padding: 0 15px;
		margin-bottom: 30px;
		@include media("<phone"){
			width: 50%;
		}
		@include media("<550px"){
			width: 100%;
		}
	}
	&__link{
		display: none;
		flex-direction: column;
		 transition: all .3s;
		&:hover{
			background: $white;
			box-shadow: 0px 0px 40px rgba(94, 93, 93, 0.1);
		}
		&:first-child{
			display: flex;
		}
	}
	&__box-img{
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 100%;
	}
	&__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
	}
	&__descr{
		background: $white;
		display: block;
		text-align: center;
		padding: 20px;
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
	}
}
.catalogue{
	background: url(#{$images}catalog-bg.png) 0 200px no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&__list{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		@include media("<550px"){
			margin: 0;
		}
	}
	&__item{
		width: 25%;
		padding: 0 15px;
		@include media("<phone"){
			width: 50%;
		}
		@include media("<550px"){
			width: 100%;
			padding: 0;
		}
	}
	&__link{
		display: block;
		&:hover{
			background: $white;
			box-shadow: 0px 0px 40px rgba(94, 93, 93, 0.1);
		}
	}
	&__box-img{
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 86%;
	}
	&__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
	}
	&__descr{
		display: block;
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
		text-align: center;
		padding: 15px 5px;
	}
}
.result{
	.search{
		display: block;
		margin-bottom: 80px;
		@include media("<phone"){
			margin-bottom: 40px;
		}
		.form_line{
			max-width: 444px;
			margin: 0 0 0 auto !important;
			@include media("<phone"){
				max-width: 100%;
			}
			.form__control{
				border: 1px solid $mercury;
				border-right: 0;
				&:focus{
					border-right: 0;
					border-color: $orange;
				}
			}
		}
	}
	.search a{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	.search .ico{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 13px;
	}
	.search.open .ico{
		display: none;
	}
	.search .ico img{
		display: block;
		max-width: 100%;
	}
	.search.type2{
		display: block;
		margin: 0 0 10px;
		width: auto;
		height: auto;
	}
	.search a{
		display: none;
	}
	.accordeon{
		border-bottom: 1px solid #e5e5e5;
		.title{
			font-size: 18px;
			line-height: 25px;
			@include media("<phone"){
				font-size: 12px;
				line-height: 16px;
			}
		}
		.box-link{
			display: flex;
		}
		.download{
			display: block;
			max-width: 20px;
			max-height: 25px;
			@include media("<phone"){
				max-width: 9px;
				max-height: 12px;
			}
			svg{
				display: block;
				fill: #cecece;
				transition: all .3s;
				@include media("<phone"){
					max-width: 9px;
					max-height: 12px;
					margin: 2px 0 0;
				}
			}
			&:hover{
				svg{
					fill: $orange;
				}
			}
		}
		.descr{
			display: flex;
			align-items: center;
		}
		.link-info{
			display: none;
			@include media("<phone"){
				display: block;
				margin-left: 10px;
			}
		}
		.info{
			display: block;
			background: url(#{$images}info.svg) 50% 50% no-repeat;
			background-size: 100% auto;
			width: 12px;
			height: 12px;
		}
		.details{
			font-size: 14px;
			line-height: 19px;
			font-weight: 700;
			text-decoration: underline;
			margin-left: 90px;
			transition: all .3s;
			@include media("<phone"){
				margin-left: 20px;
				font-size: 10px;
				line-height: 14px;
			}
		}
		dl{
			margin: 0;
			background-color: $white;
		}
		dt{
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			border: 1px solid #e5e5e5;
			padding: 23px 65px 23px 24px;
			margin: 0;
			cursor: pointer;
			border-bottom: 0;
			@include media("<phone"){
				padding: 9px 16px;
			}
		}
		dt.active{
			.details{
				color: $orange;
			}
		}
		dt span{
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			line-height: 32px;
			font-weight: 400;
			text-transform: uppercase;
		}
		dt .ico{
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
			line-height: 0;
			text-align: center;
			width: 32px;
			height: 32px;
			margin: 0 8px 0 0;
		}
		dd{
			position: relative;
			margin: -1px 0 0;
			border: 1px solid #e5e5e5;
			border-top: 0;
			border-bottom: 0;
			padding: 10px 65px 40px;
			font-size: 14px;
			line-height: 25px;
			color: $blackcurrant;
			font-weight: 300;
			font-style: normal;
			@include media("<phone"){
				padding: 10px 30px;
			}
		}
		dd p{
			margin: 0 0 30px;
		}
		dd p:last-child{
			margin: 0;
		}
		dd .content{
			&__list{
				margin: 0 0 40px;
				padding: 0;
				list-style: none;
				column-count: 2;
				@include media("<phone"){
					column-count: 1;
					margin: 0 0 20px;
				}
			}
			&__item{
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-bottom: 15px;
			}
			&__descr{
				font-size: 18px;
				line-height: 25px;
				color: $scorpion;
				@include media("<phone"){
					font-size: 10px;
					line-height: 14px;
				}
			}
			&__sense{
				min-width: 70px;
				text-align: right;
				color: $scorpion;
				font-size: 18px;
				line-height: 25px;
				@include media("<phone"){
					font-size: 10px;
					line-height: 14px;
				}
			}
			&__paragraph{
				max-width: 320px;
				font-size: 10px;
				line-height: 17px;
				@include media("<phone"){
					line-height: 14px;
					margin-bottom: 15px;
					max-width: 100%;
				}
			}
			.close{
				display: none;
				background: url(#{$images}close.svg) 50% 35% no-repeat;
				background-size: 30px auto;
				padding: 25px 0;
				@include media("<phone"){
					display: block;
					background-size: 20px auto;
					padding: 15px 0;
				}
			}
		}
	}
}