/* main-nav */
.main-nav{
	float: right;
	text-align: right;
	@include media("<tablet") {
		display: flex;
		flex-flow: column;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		transform: translateX(110%);
		background: rgba($gray_cod, .9);
		z-index: 100;
		padding: 80px 0 46px;
		transition: transform .5s;
	}


	&__contacts{
		margin: 0 0 26px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		width: 100%;
		@include media("<tablet"){
			order: 3;
			margin: 0;
			border: 1px solid rgba($white, .1);
			height: 54px;
		}
		&-item{
			display: block;
			margin-left: 24px;
			@include media("<tablet"){
				padding: 10px;
				margin-left: 0;
				width: 50%;
				display: flex;
				align-items: center;
			}
			&:first-child{
				margin-left: 0;
				@include media("<tablet"){
					order: 2;
				}
			}
		}
		&-link{
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: $white;
			text-transform: uppercase;
		}
		&-ico{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 10px;
			min-width: 10px;
			margin-right: 8px;
			font-size: 0;
			line-height: 0;
			img{
				display: block;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	&__block{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		text-align: left;
		height: 100%;
		@include media("<tablet"){
			flex-flow: column;
			align-items: stretch;
		}
	}
	.btn{
		margin-left: 24px;
		@include media("<tablet"){
			margin: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			border-radius: 0 0;
			padding: 13px 18px;
		}
	}

	&__list{
		margin: 0 24px 0 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		@include media("<tablet"){
			margin: 0;
			padding: 0 40px;
			flex-flow: column;
			align-items: stretch;
			justify-content: center;
			overflow-y: auto;
			overflow-x: hidden;
			-webkit-overflow-scrolling: auto;
			height: 100%;
			width: 100%;
		}
		@include media("<phone"){
			justify-content: flex-start;
		}
	}
	&__item{
		position: relative;
		display: block;
		margin-right: 32px;
		@include media("<desktop"){
			margin-right: 24px;
		}
		@include media("<tablet"){
			margin-right: 0;
		}
		&:last-of-type{
			margin-right: 0;
		}
		&.has-drop{
			&:hover{
				.main-nav__sub-wrap{
					visibility: visible;
					opacity: 1;
					transform: translate(-50%, -1px);
					@include media("<tablet"){
						transform: translate(0, 0);
					}
				}
			}
		}
	}
	&__link{
		position: relative;
		display: block;
		font-size: 20px;
		line-height: 26px;
		color: $white;
		font-weight: 600;
		padding: 10px 0;
		transition: color .2s;
		z-index: 200;
		@include media("<desktop"){
			font-size: 18px;
		}
		@include media("<tablet"){
			padding: 16px 0;
		}
		&_active{
			color: $orange;
		}
		&:hover{
			color: $orange;
		}
	}
	&__sub{
		&-wrap{
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 86px);
			border: 0;
			margin: 0;
			padding: 66px 0 0;
			opacity: 0;
			visibility: hidden;
			z-index: 200;
			@include media(">tablet"){
				display: block !important;
			}
			@include media("<tablet"){
				transition: none;
				opacity: 1;
				visibility: visible;
				position: static;
				transform: translate(0, 0);
				min-width: 0;
				margin-top: 0;
				padding: 0 15px;
				border: 0;
				box-shadow: none;
				min-width: 100%;
				background: transparent;
				display: block;
			}
		}
		&-list{
			position: relative;
			margin: 0;
			padding: 0;
			list-style: none;
			min-width: 222px;
			border-radius: 6px;
			background: $white;
			box-shadow: 0px 3px 16px rgba(77, 77, 77, 0.15);
			transition: all 0.3s;
			overflow: hidden;
			@include media("<tablet"){
				background: transparent;
				box-shadow: none;
				min-width: auto;
			}
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 2px;
				background: linear-gradient(180deg, #FD7146 0%, #FB9730 100%);
				@include media("<tablet"){
					display: none;
				}
			}
		}
		&-item{
			display: block;
		}
		&-link{
			display: block;
			font-size: 18px;
			line-height: 26px;
			color: $gray;
			text-align: left;
			font-weight: 600;
			padding: 16px 30px;
			transition: all .2s ease-in-out;
			@include media("<tablet"){
				font-size: 14px;
				line-height: 20px;
				font-weight: 400;
				padding: 8px 0;
				color: rgba($white, .8);
			}
			&:hover{
				background: $sand;
				color: $gray;
				@include media("<tablet"){
					background: none;
					color: $white;
				}
			}
		}
	}
}

.dropdown-block{
	position: relative;
	z-index: 300;
	@include media("<tablet"){
		position: absolute;
		top: 14px;
		left: 4px;
	}
	&.open{
		.dropdown-block__toggle{
			color: $orange;
			&:before{
				border-color: $orange;
				transform: translate(0,-50%) rotate(45deg);
				margin: 1px 0 0;
			}
		}
		.dropdown-block__list{
			opacity: 1;
			visibility: visible;
			transform: translate(0, 5px);
		}
	}
	&__toggle{
		display: block;
		font-weight: 700;
		font-size: 12px;
		line-height: 16px;
		color: $white;
		text-transform: uppercase;
		transition: all .2s;
		padding: 8px 20px 8px 8px;
		&:hover{
			color: $orange;
			&:before{
				border-color: $orange;
			}
		}
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			right: 4px;
			border-top: 1px solid transparent;
			border-left: 1px solid transparent;
			width: 6px;
			height: 6px;
			margin: -2px 0 0;
			border-color: $white;
			transform: translate(0,-50%) rotate(225deg);
			transition: all .2s ease-in-out;
			@include media("<tablet"){
				right: 8px;
			}
		}
	}
	&__list{
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;
		background: $white;
		opacity: 0;
		visibility: hidden;
		transform: translate(0, 20px);
		transition: opacity .2s, visiblity .2s, transform .3s ease-in-out;
		min-width: 22px;
		border-radius: 6px;
		overflow: hidden;
		box-shadow: 0px 3px 16px rgba(77, 77, 77, 0.15);
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 2px;
			background: linear-gradient(180deg, #FD7146 0%, #FB9730 100%);
		}
	}
	&__item{
		display: block;
		padding: 0;
	}
	&__link{
		display: block;
		font-weight: 700;
		font-size: 12px;
		line-height: 16px;
		color: $gray;
		padding: 4px 8px;
		text-align: left;
		text-transform: uppercase;
		transition: all .2s;
		&:hover{
			color: $gray;
			background: $sand;
		}
		&_active{
			background: $sand;
			color: $orange;
		}
	}
}